/*
box-sizing nije property koji se nasledjuje (?), ali ovako mi ga setujemo na html i onda kazmo preko
* selektora da svi elementi treba da naslede ovaj property.
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* root font size se stavlja u procentima, zbog toga sto korisnik moze da promeni velicinu fonta u browseru.
Ako bismo zakucali na 10px, onda promena fonta u browseru, ce ispravno da skalira ostale elemente*/
html {
  // this defines what 1rem is
  font-size: 62.5%; // 10px at default viewport view 10px/16px = 62.5%

  // @media (max-width: 600px) {
  //   font-size: 50%;
  // }

  // @include respond-phone {
  //   font-size: 50%;
  // }

  @include respond(tab-land) {
    // width < 1200
    font-size: 56.25%; // 1rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) {
    // width < 9  00
    font-size: 50%; // we want 1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
